---
---

@import 'fix';
@import 'extension';

//
// CONFIGURATION
//
$company_colors_primary_background: {{ site.company.colors.primary.background }};
$company_colors_primary_foreground: {{ site.company.colors.primary.foreground }};

$company_fonts_primary_name: {{ site.company.fonts.primary.name }};
$company_fonts_secondary_name: {{ site.company.fonts.secondary.name }};


.call-to-action {
  background-color: $company_colors_primary_foreground;
  color: $company_colors_primary_background;
}

.pagination .previous,
.pagination .next {
  background-color: $company_colors_primary_foreground;
  color: $company_colors_primary_background;
}