<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <header class="header-background">

        {% include main_header.html %}

        <div class="container mx-auto px-2 mb-2 clearfix header-text">
          <h1 class="h0 inline-block sm-width-full py-4 mt-3 header-title">{{ site.title }}</h1>

          <div class="clearfix mb-4 py-1">
            <div class="col-4 sm-width-full left border-top-thin">
              <div class="table">
                <div class="inline-block mt-3">
                    <a href="{{ site.company.cta.url }}" class="call-to-action">{{ site.company.cta.text }}</a>
                </div>
              </div>
              <!-- Set site description in config.yml -->
              <p class="h4 lh-condensed font-smoothing mt-2 py-1">{{ site.description }}</p>
            </div>

            <div class="col-4 sm-width-full left border-top-thin mt-3 mt-lg-0 ml-lg-4 table">
              {% for social in site.company.socials %}
              {% assign social_platform = social[0] %}
              {% assign social_username = social[1] %}
                <div class="inline-block mt-3{% unless forloop.last %} mr-1{% endunless %}">
                  {% include socials/{{ social_platform }}.html username=social_username icon_size=site.company.icon_size %}
                </div>
                {% endfor %}
            </div>
          </div>

        </div>
      </header>

      <div class="container mx-auto px-2 py-4">
        {% for post in paginator.posts %}
          {% include post_block.html %}
        {% endfor %}

        {% if paginator.total_posts > paginator.per_page %}
        <!-- Pagination links -->
        <div class="pagination">
          {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">
              &lt;
          </a>
          {% else %}
          <span class="previous">&lt;</span>
          {% endif %}
          <span class="page_number">
          {{ paginator.page }} / {{ paginator.total_pages }}
          </span>
          {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">&gt;</a>
          {% else %}
          <span class="next">&gt;</span>
          {% endif %}
        </div>
        {% endif %}
      </div>

    </div>

    {% include footer.html %}
    {% include analytics.html %}

  </body>

</html>